body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
header{
    background-color: #2f4758;
    text-align: center;
    text-transform: lowercase;
    height: 71px;
    padding: 40px;
    margin: 40px 10px 0px 10px;
    
}
main{
    background-color: rgb(25, 78, 177);
    height: 40%;
    width: 300px;
    border: 10px solid black;
    padding: 90px 60px 79px 300px;
    border-radius: 5px;
    margin-left: 70px;
    font-size: 15px;

}

footer{
    background-color: #0c3a59;
    text-align: center;
    height: 80px;
    padding-top: 10px;
    margin-top: o.1cm;
    width: 1569pxpx;
}
div{
    background-color: gray;
    margin: 2px 20px 1px 20px ;
}